<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.net>
    


    <mailSettings>
      <smtp from="makovetskiyd@yahoo.co.uk">
        <network host="smtp.gmail.com" enableSsl="true" defaultCredentials="false" port="587" userName="yourguru27@gmail.com" password="luckyd55"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <clear/>
    
    <add name="modelConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='C:\Documents and Settings\Little Rabbit\Desktop\YourGuruSite\App_Data\ASPNETDB.MDF';Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="CP_AllQuestionsAnswered" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='C:\Documents and Settings\Little Rabbit\Desktop\Garbage\YourGuruDB1.mdf';Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="YourGuruDB" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='C:\Documents and Settings\Little Rabbit\Desktop\Garbage\YourGuruDB1.mdf';Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
  <location path="header.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>


  <system.web>
    <httpHandlers>
 
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    
    <authentication mode="Forms">
      <forms name=".MyCookie" loginUrl="~/Registration.aspx"   protection="All" timeout="43200" path="/">
        <credentials passwordFormat="MD5">
          <user name="user" password="ca064d0730abfeb09e383a0e82e65f73"/>
        </credentials>
      </forms>
    </authentication>
    
    
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear/>
        <add applicationName="/WebSite10" connectionStringName="modelConnectionString" name="MyRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    
    
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear/>
        <add name="MyMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="modelConnectionString"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0" 
             enablePasswordReset="true"
             maxInvalidPasswordAttempts="1000" 
             passwordAttemptWindow="4000" 
             enablePasswordRetrieval="true" 
             requiresUniqueEmail="false" 
             passwordFormat="Encrypted" 
             applicationName="/WebSite10"/>
      </providers>
    </membership>
    
  
    <machineKey validationKey="EEE671D3FE92DD661057C660F7BA0288BB08809AAECBD2242474483C1F4AADE31402D2D0D84A1FFDC6317F80A29E5E104E1490AB7A0E43A36F5A6AD473CE4043" decryptionKey="374A89929F597FDA3ADE4133CDCE2E7B500F28BCCE0D389228D618A5CB463B9B" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>